.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project-item {
  background-color: #ffffff;
  border-radius: 2px;
  /* box-shadow: 0 0 10px rgba(50, 30, 30, 0.05); */
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 12px solid #2a738a;
  text-align: center;
}

.title {
  color: #2a738a;
  display: block;
  font-size: 1.3em;
  text-transform: uppercase;

}
