@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans&display=swap');

* {
  color: #77726c;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
}

body {
  background-color: #eae8dc;
}

a {
  color: #77726c;
  text-decoration: none;
  transition: 0.15s all;
}

a:hover {
  color: #b54f44;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  height: 100px;
  padding: 30px;
  box-sizing: border-box;
}

nav.menu {
  text-align: right;
}

.logo h1,
.logo h2  {
  padding: 0;
  margin: 0;
}

.logo h1 {
  color: #dc5547;
}

.logo h2 {
  color: #b54f44;
}
