@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans&display=swap');

* {
  color: #47494a;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
}

body {
  background-color: #f9f9f9;
}

a {
  color: #47494a;
  text-decoration: none;
  transition: 0.15s all;
}

a:hover {
  color: #2a738a;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

h2 {
  color: #2a738a;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  height: 100px;
  padding: 30px;
  box-sizing: border-box;
}

nav.menu {
  text-align: right;
}

.logo h1,
.logo h2  {
  padding: 0;
  margin: 0;
}

.logo h1 {
  color: #2a738a;
}

.logo h2 {
  color: #358ba7;
}

.project {
  margin: 0 auto;
  max-width: 700px;
  padding: 40px 0;
}
